<?xml version="1.0"?>
<ServiceDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Version>1.0</Version>
	<Description>Distributed Cache using Memcached</Description>
	<Name>MEMCACHED</Name>
	<Type>Cache</Type>
	<FriendlyName>Memcached</FriendlyName>
	<PropertiesDefinitions>Properties.xml</PropertiesDefinitions>
	<Generators>
		<Generator>
			<Id>15</Id> 
			<ClassName>GeneXus.Cache.Memcached, GxMemcached, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
			<ReferencedFiles>
				<File>/r:bin\GxMemcached.dll#GxMemcached.dll</File>
				<File>/r:bin\BeITMemcached.dll#BeITMemcached.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GxMemcached.dll#GxMemcached.dll</File>
                <File>bin\BeITMemcached.dll#BeITMemcached.dll</File>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>41</Id> 
			<ClassName>GeneXus.Cache.Memcached, GxMemcached, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa</ClassName>
			<ReferencedFiles>
				<File>/r:bin\GxMemcached.dll#netcore\GxMemcached.dll</File>
				<File>/r:bin\BeITMemcached.dll#netcore\BeITMemcached.dll</File>
			</ReferencedFiles>
			<SupportFiles>
				<File>bin\GxMemcached.dll#netcore\GxMemcached.dll</File>
                <File>bin\BeITMemcached.dll#netcore\BeITMemcached.dll</File>
			</SupportFiles>
		</Generator>
		<Generator>
			<Id>12</Id>
			<ClassName>com.genexus.Memcached</ClassName>
			<SupportFiles>
				<Directory>services</Directory>
			</SupportFiles>
		</Generator>
	</Generators>
</ServiceDefinition>