<?xml version="1.0" encoding="utf-8"?>
<modulepackages>
  <module id="GeneXusSecurityCommon" version="1.10.20.142322" />
  <module id="GeneXusSecurity" version="1.10.20.142322" />
  <module id="GeneXus" version="2.10.4.141919" />
  <module id="Chatbot" version="2.10.8.141929" />
  <module id="GeneXusAI" version="1.10.2.141929" />
  <module id="GeneXusChannels" version="1.10.2.141929" />
  <module id="SecurityAPICommons" version="1.10.6.142541" />
  <module id="GeneXusCryptography" version="1.10.6.142541" />
  <module id="GeneXusXMLSignature" version="1.10.6.142541" />
  <module id="GeneXusJWT" version="1.10.6.142541" />
  <module id="GeneXusSFTP" version="1.10.6.142541" />
  <module id="GeneXusFTPS" version="1.10.6.142541" />
</modulepackages>