<?xml version="1.0" encoding="utf-8"?>
<modulepackages>
  <module id="GeneXusSecurityCommon" version="1.10.38.146811" />
  <module id="GeneXusSecurity" version="1.10.38.146811" />
  <module id="GeneXus" version="2.10.5.146290" />
  <module id="Chatbot" version="2.10.9.146438" />
  <module id="GeneXusAI" version="1.10.4.146946" />
  <module id="GeneXusChannels" version="1.10.3.146438" />
  <module id="SecurityAPICommons" version="1.10.7.146438" />
  <module id="GeneXusCryptography" version="1.10.7.146438" />
  <module id="GeneXusXMLSignature" version="1.10.7.146438" />
  <module id="GeneXusJWT" version="1.10.7.146438" />
  <module id="GeneXusSFTP" version="1.10.7.146438" />
  <module id="GeneXusFTPS" version="1.10.7.146438" />
</modulepackages>